* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

html{
	margin: 5px;
}
title{
	font-family: cursive, Times New Roman;
	text-align: center;
}

.container
{
	display:flex;
	background-color:	white;
	margin-left:	auto;
	margin-right:	auto;
	box-sizing:		border-box;
	
}
.page-name
{
	float: right;
	text-align:center;
	display:flex;
	padding:0px;
}

.img
{
	float:left;
	display:flex;
}
body {
    
	display: block;
    margin: px;
	padding:px;
}
h2{
	text-align:center;
	color:white;
	font-weight:900;
}

h3{
	color:white;
	font-weight:900;
	font-family: cursive, Times New Roman;
}
h4{
	color:#20b80c;
	font-weight:bold;
	font-family: cursive, Times New Roman;
}

.toc{
	padding:0px;
	width:25%;
	height:100%;
	float:left;
}
.h{
	text-decoration:none;
	list-style-type:none;
	
}

.heading{
	text-align:center;
	padding: 4px;
	font-family: cursive, Times New Roman;
	
}
.chapters{
	background-color: #4aabc5;
	font-family: cursive, Times New Roman;
	width:75%;
	height:100%;
	float:right;

}


.description
{
	background-color:  #8fdaee;
	margin: 10px;
	padding:10px;
	font-family: cursive, Times New Roman;
}

.footer{
	text-align:center;
	clear:both;
}